.about {
    // .about__wrapper
    &__wrapper {
    }
    // .about__container
    &__container {
    }
    // .about__body
    &__body {
        position: relative;
    }
    // .about__main
    &__main {
        margin-top: 90px;
        @include flex(center, space-between);
    }
    // .about__left
    &__left {
        flex: 0 1 60%;
    }
    // .about__right
    &__right {
        flex: 0 1 40%;
        @include flex(center, end);
    }
    // .about__title
    &__title {
        font-weight: 600;
        font-size: 46px;
        line-height: 66px;
        color: $pink-75;
        text-shadow: 0px 0px 20px rgba($pink-25, 0.8);
        margin-bottom: 10px;
    }
    // .about__text
    &__text {
        font-weight: 500;
        font-size: 18px;
        line-height: 200%;
        color: #ffffff;
        margin-bottom: 32px;
    }
    // .about__bottom
    &__bottom {
        position: absolute;
        width: 100%;
        bottom: -120px;
        @include flex(center, center, column);
    }
}
.about-cv {
    @include flex(start, start);
    column-gap: 16px;
    // .about-cv__icon
    &__icon {
        position: relative;

        &::after {
            content: '';
            position: absolute;
            top: -3px;
            right: -6px;
            width: 19px;
            height: 19px;
            background: rgba($pink-10, 0.3);
            backdrop-filter: blur(1.5px);
            border-radius: 50%;
        }
    }
    // .about-cv__content
    &__content {
    }
    // .about-cv__title
    &__title {
        font-weight: 500;
        font-size: 18px;
        line-height: 1.1;
        color: #ffffff;
        margin-bottom: 7px;
    }
    // .about-cv__link
    &__link {
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        text-decoration-line: underline;
        color: #ffffff;
        @include flex(center, start);
        column-gap: 10px;
    }
}
.about-image__wrapper {
    position: relative;
    width: 296px;
    height: 296px;
    // .about-image
    .about-image {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}
