$primaryFont: 'Monoton', cursive;
$secondaryFont: 'Jost', sans-serif;

$bodyBackground: #1e1e1e;
$bodyColor: #ffffff;
$gradient: linear-gradient(45deg, #337aff, #572ff3, #e81f6c, #f1c726);
$pink-100: #ed1ccb;
$pink-75: #c802fa;
$pink-50: #770f54;
$pink-25: #ff01e6;
$blue-100: #3038ff;
$blue-75: #4400ff;

$loaderSize: 200px;
$maxWidth: 1960;
$maxWidthContainer: 1440;
$minWidthContainer: 1270;
$md1: $minWidthContainer + 12;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;
$headerHeight: 142;
