.fadeIn {
    opacity: 1;
    animation-name: fade;
    animation-duration: 0.5s;
    animation-timing-function: ease-in;
}

.blob {
    transform: scale(0);
    @include transition();
    @include flex(center, start);
    position: absolute;
    top: -7px;
    bottom: -5px;
    left: -15px;
    width: 80px;

    svg {
        backdrop-filter: blur(1px);
    }

    &._active {
        transform: scale(1);
    }
}

.arrow-animation {
    animation-name: arrow-down;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

.bag {
    animation-name: bag-image;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

@keyframes fade {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes ellipse {
    from {
        border-radius: 2rem 1.5rem 1rem 1.5rem;
    }
    to {
        border-radius: 5rem 2.5rem 3rem 2.5rem;
    }
}

@keyframes arrow-down {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(7px);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes bag-image {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(12px);
    }
    100% {
        transform: translateY(0);
    }
}
