body {
    background-color: $bodyBackground;
    color: $bodyColor;
    font-family: $secondaryFont;
    font-size: 17px;
    line-height: 1.5;
}

/* width */
::-webkit-scrollbar {
    width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: $pink-75;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgba($pink-75, 0.5);
}

::selection {
    background-color: $pink-75;
    color: #ffffff;
}

.wrapper {
    min-height: 100vh;
    overflow: hidden;
}

.container {
    max-width: $maxWidth + px;
    margin: 0px auto;
    overflow-x: hidden;
}

[class*='__container'] {
    max-width: $minWidthContainer + px;
    margin: 0px auto;
    padding: 0px 15px;
}
