.section {
    min-height: 100vh;
    @include adaptiveValue(
        'padding-top',
        ($headerHeight + 10),
        ($headerHeight - 60 + 25)
    );
    // .section-title
    &-title {
        position: relative;
        font-weight: 500;
        @include adaptiveValue('font-size', 46, 36);
        @include adaptiveValue('line-height', 66, 44);

        &::after {
            content: '';
            width: 45px !important;
            height: 100% !important;
            top: 0 !important;
            left: -10px !important;
        }
    }
}

.icon-ellipsis {
    position: relative;

    &::after {
        content: '';
        position: absolute;
        top: -3px;
        right: -6px;
        width: 19px;
        height: 19px;
        background: rgba($pink-10, 0.3);
        backdrop-filter: blur(1.5px);
        border-radius: 50%;
    }
}
